USERNAME=your_hummingbot_api_username_here
PASSWORD=your_hummingbot_api_password_here
CONFIG_PASSWORD=your_hummingbot_config_password_here
POSTGRES_PASSWORD=your_postgres_password_here

DATABASE_URL=postgresql+asyncpg://hbot:your_postgres_password_here@postgres:5432/hummingbot_api

BROKER_HOST=emqx
BROKER_PORT=1883
BROKER_USERNAME=your_emqx_username_here
BROKER_PASSWORD=your_emqx_password_here
