HUMMINGBOT_API_URL=http://host.docker.internal:8000
HUMMINGBOT_USERNAME=your_hummingbot_api_username_here
HUMMINGBOT_PASSWORD=your_hummingbot_api_password_here
HUMMINGBOT_TIMEOUT=30.0
HUMMINGBOT_MAX_RETRIES=3
HUMMINGBOT_RETRY_DELAY=2.0
HUMMINGBOT_LOG_LEVEL=INFO

